body {
background-color: #ffe6ff;
color: #70003D;
font-family: arial, helvetica, sans-serif;
} 
div#top {width:90%; background-color:#ccffeb; padding:10px; border-top-left-radius: 70px; 
border-bottom-right-radius: 70px; border-top-right-radius: 70px; 
border-bottom-left-radius: 70px; text-align:center; justify-content: space-around
}
div#centerImage img {width:25%}
div#centerImage img {justify-content: center}

img {
    width: 10%;
    height: 10%;
    }
    
div.topnav{
    font-size: 20px;
    font-family: "Courier New";
    text-align: center;
    color: white;
    padding: 10px;
}
