html {
    background: url(staticTextBackground.png);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}
.menu-container{
    color: #FFF7C0;
    background-color: #6EC4DB;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.combeText {
    width: 800px;
    display: flex;
    justify-content: space-around;
}
.links{
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}
.whitebar-container {
    background-color: #ffffff;
    width: 75%;
    margin: auto;
    display: flex;
}
.picture-box{
    display: flex;
    justify-content: space-around;
}
.body-container{
    background-color: #ffffff;
    width: 75%;
    margin: auto;
}
.text-container{
    color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-around;
}
.content{
    display: flex;
    justify-content: space-around;
}