* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-container{
    color: #ffffff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.menu{
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
.portrait{
    display: flex;
    justify-content: flex-start;
}
.links{
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}
.picture-box{
    display: flex;
    justify-content: space-around;
}
.text-container{
    color: #5995DA;
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-around;
}
.content{
    display: flex;
    justify-content: space-around;
}