html {
    background: url(Pictures/staticTextBackground.png);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}
.menu-container{
    color: #FFF7C0;
    top: 0%;
    width: 100%;
    font-size: 16px;
}
.menu{
    background-color: #6EC4DB;
    padding: 10px;
}
.combeText{
    position: relative;
    background-color: #6EC4DB;
    left: 20%;
}
.links-container{
    position: fixed;
    background-color: #6EC4DB;
    width: 100%;
    height: 7.3%;
    text-align: center;
    top: 0%;
    left: 0%;
}
.links{
    position: fixed;
    top: 0%;
    left: 30%;
}
.navbar {
    overflow: hidden;
    background-color: #6EC4DB;
    align-items: center;
    width: 100%;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #2e9ab8;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #2e9ab8;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #2e9ab8;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.picture-box{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.body-container{
    background-color: #ffffff;
    width: 75%;
    margin: auto;
    height: 100%;
    top: 0;
}
.text-container{
    color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-around;
}
.content{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.footer-container{
    position: fixed;
    left: 12.5%;
    bottom: 0%;
    width: 75%;
    background-color: #6EC4DB;
}
.amelia-footer{
    color: white;
    text-align: center;
    padding: 3px;
}
.syntax-footer{
    color: white;
    text-align: center;
    padding: 3px;
}
.msDirectory {
    position: fixed;
    top: 0%;
    left: 0;
    background-color: #6EC4DB;
    font-size: 15px;
    width: 12.5%;
    text-align: center;
    color: white;
}
.accordion {
    background-color: #6EC4DB;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #2e9ab8;
}
.panel {
    color: #6EC4DB;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.toggleSidebar{
    top: 4%;
    background-color: #6EC4DB;
    color: white;
    border: none;
    outline: none;
    position: fixed;
    left: 87.5%;
    font-size: 15px;
    width: 12.5%;
    }
.license{font-size: 15px}
span.persName.on{color: red}
span.emph.on{color: red}
span.placeName.on{color: red}
span.signature.on{color: red}
span.closer.on{background-color:red}
span.poem.on{color:red}
span.longdash.on{color:red}
span.opener.on{background-color:red}
span.epigraph.on{background-color: white}
.letter.on{background-color: white}
span.byline.on{background-color: white}