html {
    background: url(Pictures/staticTextBackground.png);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}
.menu-container{
    color: #FFF7C0;
    background-color: #6EC4DB;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.combeText {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}
.whitebar-container {
    background-color: #ffffff;
    width: 75%;
    margin: auto;
    display: flex;
}
.picture-box{
    display: flex;
    justify-content: space-around;
}
.body-container{
    background-color: #ffffff;
    width: 75%;
    margin: auto;
    height: 100%;
}
.text-container{
    color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-around;
}
.content{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.footer-container{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.amelia-footer{
    background-color: #6EC4DB;
    color: #FFF7C0;
    text-align: center;
    padding: 3px;
}
.spectator-footer{
    background-color: #6EC4DB;
    color: #FFF7C0;
    text-align: center;
    height: 60px;
}
.modern-spectator-sidebar{
    background-color: #6EC4DB;
    position: fixed;
    width: 12.5%;
    font-size: 15px;
}
span.emph.on {color: red}
span.persName.on {color: red}
span.placeName.on {color: red}
span.signatures.on {color: red}
span.epigraph.on{background-color: white}
span.letter.on{background-color: white}
span.byline.on{background-color: white}